# MySQL Configuration
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=3306

# Linux Server
LINUX_SERVER_HOST=
LINUX_SERVER_USER=
LINUX_SERVER_PASSWORD=
LINUX_SERVER_PORT=22

# Windows Server
WINDOWS_SERVER_HOST=
WINDOWS_SERVER_USER=
WINDOWS_SERVER_PASSWORD=
WINDOWS_SERVER_PORT=22